.comp-order_items {
  &__title {
    padding-left: 9px;
  }

  &__add-to-list {
    padding-right: 9px;
  }

  &__list {
    flex-direction: row;

    &__item {
      padding: 9px;

      &:first-child + & {
        border-top: 0;
      }

      &--odd {
        padding-right: 30px;
      }

      &--even {
        padding-left: 30px;
      }
    }

    &__price {
      font-weight: 500;
      min-width: 82px;
    }
  }
}