.comp-account__container {
  .maf-row {
	.store-finder {
	  .store-list__icon {
		padding: 12px;
		text-align: unset;
    	width: initial;
	  }
	  .store-text {
	  .text-disabled__label {
	  	font: 400 22px/1.8 Roboto,sans-serif;
	    }
	  }
	}
  }
}