
.comp-payment_methods {    
    &__list {
        &__description {
            &__entry {
                margin-top: 16px;
            }
        }
        &__flexbox {
        
            label {
            max-width: 70%;
        }
            &__image {
                  display: block;
            }
        }
    }
    .comp-switch {
        float: right;
        margin-top: 0px;
        margin-left: 0px;
    }
}
