.comp-add_shipping_address {
    &__buttons {
        .comp-btn {
            margin-left:12px;
            min-width:208px;
            width:auto;
        }
    }
    .g--box {
        margin-bottom:24px;
    }

}
