.comp-banner {
  .slick-arrow {
    border: 0;
    background: rgba($mafc-white, .7);
  }

  // !important to make sure arrows for Banners will never get overriden
  // Bec we're changing the arrow position for IE
  .slick-prev {
    left: 25px !important;
  }

  .slick-next {
    right: 25px !important;
  }
}