.comp-modal {
  $this: &;

  right: auto;
  bottom: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;

  &__wrap {
    min-width: 450px;
    padding-top: 56px;
    @include boxShadow();
    padding: 72px $mafc-big-pad $mafc-big-pad;
    // Adding animation effect when showing the modal
    opacity: 0;
    transform: scale(1.2);
    transition: none; // "unset" not supported by IE
  }
  &__with_footer{
    padding-bottom:72px;
  }
  // Header has no backgroud for >= tablet
  &__header {
    background: 0;
    padding-left: $mafc-big-pad;
    padding-top: $mafc-medium-pad;
  }

  // Modal title is bigger for >= tablet
  &__title {
    font-size: 20px;
    color: $mafc-thundora;
  }

  // X button changes a little bit for >= tablet
  i#{&}__close {
    cursor: pointer;
    color: $mafc-mine-shaft;
    padding: 20px;
    position: absolute;
    top:0;
    right:0;
  }

  // This will apply the animation effect on the modal
  &._open {
    #{$this}__wrap {
      opacity: 1;
      transform: scale(1);
      transition: .3s ease;
    }
  }
}
