.comp-form {
  margin: 32px auto 24px auto;

  &__container {
    max-width: 427px;
  }
}

.form-group {
  .g-recaptcha {
    transform:scale(1);
    transform-origin:0 0;
  }
}

.password-strength-block {
  margin-bottom: 8px;
  &__text {
      font: normal 12px/17px Roboto,sans-serif;
  }
}
