.comp-address_list {

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__address {
        flex: 0 1 42%; // Fix for IE 11
        flex: 0 1 calc(50% - 12px);
        margin-bottom: 24px;
    }
    &__new {
        flex-direction: column;
        min-height: 186px;

        .icon {
            margin: 0 0 10px 0;
        }
    }

    &__view_all {
        margin-top: 0;
    }
}
