.comp-emptycart {
    &__wrapper {
        min-height:450px;  
        &__h1 {
            font-size:20px;
            margin-bottom:12px;
        }
        &__h2 {
           font-size:16px;
        }
        &__button {
            margin-top:24px;
            max-width:275px;
        }
        
        &__icon {
            margin-top:45px;
        }
    }
}