<script type="text/javascript">
    /*<![CDATA[*/
    
    var ACC = { config: {} };
        ACC.config.contextPath = "/assets/web/webroot";
        ACC.config.encodedContextPath = "/assets/web/webroot";
        ACC.config.commonResourcePath = "/assets/web/webroot/_ui/responsive/common";
        ACC.config.themeResourcePath = "/assets/web/webroot/_ui/responsive/theme-alpha";
        ACC.config.siteResourcePath = "/assets/web/webroot/_ui/responsive/site-electronics";
        ACC.config.rootPath = "/assets/web/webroot/_ui/responsive";	
        ACC.config.CSRFToken = "492a38e1-6cec-4a0e-be1b-0745ed229676";
        ACC.pwdStrengthVeryWeak = 'Very weak';
        ACC.pwdStrengthWeak = 'Weak';
        ACC.pwdStrengthMedium = 'Medium';
        ACC.pwdStrengthStrong = 'Strong';
        ACC.pwdStrengthVeryStrong = 'Very strong';
        ACC.pwdStrengthUnsafePwd = 'password.strength.unsafepwd';
        ACC.pwdStrengthTooShortPwd = 'Too short';
        ACC.pwdStrengthMinCharText = 'Minimum length is %d characters';
        ACC.accessibilityLoading = 'Loading... Please wait...';
        ACC.accessibilityStoresLoaded = 'Stores loaded';
        ACC.config.googleApiKey="";
        ACC.config.googleApiVersion="3.7";
        ACC.autocompleteUrl = '/assets/web/webroot';
        ACC.config.loginUrl = '/assets/web/webroot'; 
        ACC.config.authenticationStatusUrl = '/assets/web/webroot';
    /*]]>*/
</script>
<script type="text/javascript">
/*<![CDATA[*/
ACC.addons = {};	//JS holder for addons properties

    ACC.addons.commerceorgsamplesaddon = [];
    
    ACC.addons.assistedservicepromotionaddon = [];
    
    ACC.addons.adaptivesearchsamplesaddon = [];
    
    ACC.addons.textfieldconfiguratortemplateaddon = [];
    
    ACC.addons.smarteditaddon = [];
    
    ACC.addons.orderselfserviceaddon = [];
    
    ACC.addons.customerticketingaddon = [];
    
    ACC.addons.assistedservicestorefront = [];
    
    ACC.addons.assistedservicestorefront['asm.timer.min'] = 'min';
        
/*]]>*/
</script>
